<div class="flex flex-col w-full">

    <!-- View mode -->
    <ng-container *ngIf="!editMode && contact">

        <!-- Header -->
        <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
            <!-- Background -->
            <ng-container *ngIf="contact.background">
                <img
                    class="absolute inset-0 object-cover w-full h-full"
                    [src]="contact.background">
            </ng-container>
            <!-- Close button -->
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <button
                    mat-icon-button
                    [matTooltip]="'Close'"
                    [routerLink]="['../']">
                    <mat-icon
                         
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>

        <!-- Contact -->
        <div *ngIf="contact" class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">

                <!-- Avatar and actions -->
                <div class="flex flex-auto items-end -mt-16">
                    <!-- Avatar -->
                    <div class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                        <img
                            class="object-cover w-full h-full"
                            *ngIf="contact.avatar"
                            [src]="contact.avatar">
                        <div
                            class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                            *ngIf="!contact.avatar">
                            {{contact.first_name.charAt(0)}}
                        </div>
                    </div>
                    <!-- Actions -->
                    <div class="flex items-center ml-auto mb-1">
                        <button
                            mat-stroked-button
                            (click)="toggleEditMode(true)">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                            <span class="ml-2">Results</span>
                        </button>
                    </div>
                </div>

                <!-- Name -->
                <div class="mt-3 text-4xl font-bold truncate">{{contact.first_name + ' ' + contact.last_name}}</div>

                <ng-container>
                    <div class="flex flex-wrap items-center mt-2">
                        <!-- Gemder -->
                        <ng-container >
                            <div [matTooltip]="'Gender'" class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                <span class="text-sm font-medium whitespace-nowrap">{{contact.gender}}</span>
                            </div>
                            <div [matTooltip]="'Location'" class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                <span class="text-sm font-medium whitespace-nowrap">{{contact.location}}</span>
                            </div>
                            <div [matTooltip]="'Race'" class="flex items-center justify-center py-1 px-3 mr-3  rounded-full mb-3 leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                <span class="text-sm font-medium whitespace-nowrap">{{contact.race}}</span>
                            </div>
                            <div [matTooltip]="'DOB'" class="flex items-center justify-center py-1 px-3 mr-3 mb-3 leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                <mat-icon style="min-width: 20px; width:20px;" [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                                <span class="text-sm ml-2 font-medium whitespace-nowrap">{{contact.date_of_birth.day +'-'+ contact.date_of_birth.month +'-'+ contact.date_of_birth.year}}</span>
                            </div>

                        </ng-container>
                    </div>
                </ng-container>

                <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
                    <!-- Test -->
                    <ng-container *ngFor="let test of contact.selected_tests">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'iconsmind:hospital'"></mat-icon>
                            <div class="flex items-center justify-center py-1 px-3 mr-3 ml-3  leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                <span class="text-sm font-medium whitespace-nowrap">{{test}}</span>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Company -->
                    <ng-container>
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                            <div class="ml-3 leading-6">{{contact.collection_date.month +'/'+ contact.collection_date.day +'/'+ contact.collection_date.year}}</div>
                            
                            
                            <div class="ml-3 leading-6">{{contact.collection_time.timeInput +' ' + contact.collection_time.ampm}}</div>
                            <mat-icon [svgIcon]="'heroicons_outline:clock'"></mat-icon>
                        </div>
                        
                    </ng-container>

                    <!-- Emails -->
                    <ng-container *ngIf="contact.email">
                        <div class="flex">
                            <mat-icon [svgIcon]="'heroicons_outline:mail'"></mat-icon>
                            <div class="min-w-0 ml-6 space-y-1">
                                <ng-container >
                                    <div class="flex items-center leading-6">
                                        <a
                                            class="hover:underline text-primary-500"
                                            [href]="'mailto:' + contact.email"
                                            target="_blank">
                                            {{contact.email}}
                                        </a>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="contact.phone_number">
                        <div class="flex">
                            <mat-icon [svgIcon]="'heroicons_outline:phone'"></mat-icon>
                            <div class="min-w-0 ml-6 space-y-1">
                                <ng-container >
                                    <div class="flex items-center leading-6">
                                        <a
                                            class="hover:underline text-primary-500"
                                            [href]="'tel:' + contact.phone_number.full"
                                            target="_blank">
                                            {{contact.phone_number.full}}
                                        </a>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container >
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'iconsmind:folder_withdocument'"></mat-icon>
                            <div class="ml-6 leading-6">{{contact.insurance_id}}({{contact.relationship_to_insured}})</div>
                        </div>
                    </ng-container>
                   
                    <!-- Address -->
                    <ng-container *ngIf="contact.address">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:location-marker'"></mat-icon>
                            <div class="ml-6 leading-6">{{contact.address.addr_line1 }}, {{contact.address.city}}, {{contact.address.state}}, {{contact.address.postal}}</div>
                        </div>
                    </ng-container>
 
                </div>

            </div>
        </div>
    </ng-container>

    <!-- Edit mode -->
    <ng-container *ngIf="editMode">

        <!-- Header -->
        <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
            <!-- Background -->
            <ng-container *ngIf="contact.background">
                <img
                    class="absolute inset-0 object-cover w-full h-full"
                    [src]="contact.background">
            </ng-container>
            <!-- Close button -->
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <button
                    mat-icon-button
                    [matTooltip]="'Close'"
                    [routerLink]="['../']">
                    <mat-icon
                        class="text-white"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>

        <!-- Contact form -->
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <form [formGroup]="contactForm">

                    <!-- Avatar -->
                    <div class="flex flex-auto items-end -mt-16">
                        <div class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                           
                            <!-- Image/Letter -->
                            <img
                                class="object-cover w-full h-full"
                                *ngIf="contact.avatar"
                                [src]="contact.avatar">
                            <div
                                class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                *ngIf="!contact.avatar">
                                {{contact.first_name.charAt(0)}}
                            </div>
                        </div>
                    </div>

                    <!-- Name -->
                    <div class="mt-8">
                        <span class="font-semibold">Test Results</span>
                        <mat-radio-group
                            class="flex flex-col mt-5"
                            [color]="'primary'"
                            [(ngModel)]="contact.test_result"
                            [ngModelOptions]="{standalone: true}"
                            (change)="resultSelectedUpdated()"
                            >
                            <mat-radio-button
                                class="mb-2"
                                [value]="'positive'">
                                Positive
                            </mat-radio-button>
                            <mat-radio-button
                                class="mb-2"
                                [value]="'negative'">
                                Negative
                            </mat-radio-button>
                            <mat-radio-button [value]="'uncertain'">
                                UnCertain
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    
                    <div class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <!-- Delete -->
                        <button
                            mat-button
                            [color]="'warn'"
                            [matTooltip]="'Delete'"
                            (click)="deleteContact()">
                            Delete
                        </button>
                        <!-- Cancel -->
                        <button
                            class="ml-auto"
                            mat-button
                            [matTooltip]="'Cancel'"
                            (click)="toggleEditMode(false)">
                            Cancel
                        </button>
                        <!-- Save -->
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="!contact.test_result"
                            [matTooltip]="'Save'"
                            (click)="updateContact()">
                            Save
                        </button>
                        <button
                        
                            class="ml-2 text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500"
                            mat-flat-button
                            [matTooltip]="'Send Email'"
                            [disabled]="!contact.test_result"
                            (click)="sendEmail()">
                            <mat-icon [svgIcon]="'heroicons_outline:mail'"></mat-icon>
                             Send Email
                        
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>
